@model IEnumerable<ParkingLotWEB.Models.ParkingLot>

<h2>Seznam parkovišť</h2>
<a asp-action="Create" class="btn btn-primary mb-2">Nové parkoviště</a>
<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
            <th>Cena za hodinu</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var lot in Model)
    {
        <tr>
            <td>@lot.Name</td>
            <td>@lot.Latitude</td>
            <td>@lot.Longitude</td>
            <td>
                <a asp-action="Details" asp-route-id="@lot.ParkingLotId" class="btn btn-info btn-sm">Detail</a>
                <a asp-action="Edit" asp-route-id="@lot.ParkingLotId" class="btn btn-warning btn-sm">Upravit</a>
                <a asp-action="Delete" asp-route-id="@lot.ParkingLotId" class="btn btn-danger btn-sm"
                   onclick="return confirm('Opravdu smazat?');">Smazat</a>
                <a asp-action="Admin" asp-route-id="@lot.ParkingLotId" class="btn btn-warning btn-sm">Administrace</a>
                
            </td>
            <td>
                <form asp-action="EditPrice" asp-controller="ParkingLot" method="post" class="mb-3">
                    <input type="hidden" name="parkingLotId" value="@lot.ParkingLotId" />
                    <div class="input-group">
                        <input type="number" step="0.01" min="0" name="pricePerHour" value="@lot.PricePerHour" class="form-control" />
                        <button type="submit" class="btn btn-primary">Upravit cenu za hodinu</button>
                    </div>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>